<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mentor Details</title>
  <style>
    .container {
      margin-top: 150px;
    }
  </style>
</head>
<body background="">
  <div class="container">
    <h1 class="mb-1">Mentor Name: <%= article.title %></h1>
    <div class="text-muted mb-2">
      Date: <%= article.createdAt.toLocaleDateString() %>
    </div>
    <div>
      Bio: <br /><%- article.sanitizedHtml %>
    </div>
    <br />
    <a href="/articles/community" class="btn btn-secondary">All Mentors</a>
    <a href="/articles/edit/<%= article.id %>" class="btn" style="background-color: #F8E16C; color: #000;">Edit</a>
  </div>
</body>
</html>



